@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Noto Serif Regular';
    src: url('/fonts/NotoSerif-Regular.woff2') format('woff2');
	font-display: swap;
}

.noto-serif-regular {
	font-family: 'Noto Serif Regular', serif;
}